h1, h2 {
    background: lightgray;
    padding: 20px;
}

body {
    margin: 0px auto;
    padding: 0px;
    width: clamp(500px, 70vw, 1920px);
    font-family: sans-serif;
    font-size: 16pt;
    line-height: 1.3;
    text-align: justify;
}

div.sourceCode {
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
    background: lightgrey;
}

section.exercise {
    margin: 40px 0px;
    border-left: 5px solid darkgrey;
    padding-left: 25px;
}
